/*!
 * Roots 6.5.0
 */
/* ==========================================================================
   Mixins
   ========================================================================== */
@import "compass/css3";
 
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}
@mixin transition($s) {
  transition          : $s;
  -webkit-transition  : $s;
  -moz-transition     : $s;
  -o-transition       : $s;
}

// Specifies both width and height properties.
@mixin size($width: auto, $height: auto) {
  width  : $width;
  height : $height;
}

// Mixes in basic vendor styles (webkit, moz, standard).
// $property must be in quotes as it becomes part of the
// property name.
@mixin vendor($property, $value) {
  -webkit-#{$property} : $value;
  -moz-#{$property}    : $value;
  #{$property}         : $value;
}
 
/* ==========================================================================
   Variables / Colors
   ========================================================================== */
   
$orange: #ff9000;
$blue: #36abff;
$green: #77a044;
$magenta: #df2c93;
$warmgray: #887777;
$gray10: #fafafa;
$gray9: #f7f7f7;
$grayb: #bbbbbb;
$gray8: #888888;
$gray4: #4d4d4d;


$sm-width: 767px;
$md-width: 992px;
$lg-width: 1200px;

$navbarheight: 65px;
$subnavheight: 55px;

$mainfont: "Open Sans", helvetica, arial, sans-serif;
$secondaryfont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

 
/* ==========================================================================
   Base
   ========================================================================== */
h1,h2,h3,h4,h5,h6{
  font-family:$mainfont;
  font-weight:200;
  color:$gray8;
  
  a:hover{text-decoration:none}
}
body {
  font-family:$mainfont;
  padding-top: $navbarheight - 4;
  background-color:$gray9;
  color:#666;
  
  &.has_subnav{
    padding-top: $navbarheight + $subnavheight;
  }
  
  &.admin-bar {    
    .banner{
      margin-top:28px;
    }
  }
}
a{
  color:$blue;
  outline: none;
  &::-moz-focus-inner{border: 0;}
  &:focus{outline:none;text-decoration:none;}
  &:hover{
    text-decoration:none;
  }
}

.container.extra_padding{
  padding-left:5%;
  padding-right:5%;
}
.message-block{
  text-align:center;
  padding-bottom: 50px;
  
  h1,h2,h3,h4,h5,h6{
    color:white;
    margin: 27px 15% 20px;
    line-height: 1.5;
  }
  &.leading_arrow{
    padding-top: 20px;
    position: relative;
    
    
    &:before{
      content: "";
      height: 1px;
      width: 1px;
      border-width: 0 0 40px 40px;
      border-color: white transparent;
      border-style: solid;
      display: block;
      line-height: 0;
      transform:rotate(45deg);
      -ms-transform:rotate(45deg); /* IE 9 */
      -webkit-transform:rotate(45deg); /* Safari and Chrome */
      transform-origin: 20px 20px;
      -ms-transform-origin: 20px 20px;
      -webkit-transform-origin: 20px 20px;
      position: absolute;
      top: -22px;
      left: 50%;
      margin-left: -22px;
    }
  }
  
  @media (max-width:$sm-width){
    .cta-btn{display:block;}
    .cta-btn + .cta-btn{margin-left:auto;margin-top:10px;}
  }
}
.orangebg{
  background-color:$orange;
  color:white;
}
.graybg{
  background-color:$gray9;
  color:$orange;
  h1,h2,h3,h4,h5,h6{color:$orange;}
}
.bluebg{
  background-color:#6BA0FF;
  p{color:white!important;}
  h1,h2,h3,h4,h5,h6{color:white!important;}
  .cta-btn.primary{background:$orange;}
}


/* ==========================================================================
   Header
   ========================================================================== */
#more-nav-overlay{
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100000;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}
.more-nav-menu{
  background:$warmgray;
  color: #f1f1f1;
  font-size:13px;
  padding:12px 20px 40px;
  display:none;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  position:relative;
  
  -webkit-box-shadow: rgba(6, 8, 8, 0.4) 0px 20px 20px -20px inset, rgba(6, 8, 8, 0.4) 0px -20px 20px -20px inset;
  box-shadow: rgba(6, 8, 8, 0.4) 0px 20px 20px -20px inset, rgba(6, 8, 8, 0.4) 0px -20px 20px -20px inset;

  a.close_mn{
    position:absolute;
    top:15px;
    right:15px;
    font-size:23px;
    z-index: 990;
  }
  
  a{
    color:white;
  }
  
  h4{
    color:white;
  }
  
  ul.more_nav_nav{
    list-style:none;
    margin:10px 0px 0;
    padding:0;
    font-family:$secondaryfont;
    
    li{
      padding:3px 0 4px 5px;
      a{
        color:#f1f1f1;
        &:hover{
          text-decoration:none;
          color:white;
        }
      }
    }
  }

}
.banner{
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 14px;
  z-index:1000;
  
  &.navbar{border:none}
  
  
  .navbar-toggle {
      margin-top: 15px;
    }
  & > .container {
    height: $navbarheight;
    
    #menu-primary-navigation>li{
      overflow:hidden;
      vertical-align: top;
      .dropdown-menu{display:block;}
      &:hover{
        overflow:visible;
      }
    
    .dropdown-toggle{
      padding-right:25px;
      &:after{
        content:"\f0d7";
        font-family:"FontAwesome";
        color:$blue;
        position:absolute;
        right:9px;
        font-size:12px;
        top:23%;
      }
    }
    
    /*
    &.open .dropdown-toggle:after{
      content:"\f0d8";
    }
    */
    
    .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
      background-color: #f3f3f3;
      color:$blue;
      &:before{color:$blue;}
    }
    
      &.open>a,&>a:hover{background:#f4f4f4;}
      &>a,
      a.navbar-brand{
        font-size:15px;
        height:$navbarheight;
        line-height:($navbarheight - 30)!important;
        color:$blue;
        
        .caret{
          display:none;
          color:$blue;
          border-top-color: $blue;
          border-bottom-color: $blue;
        }
      }
      li.menu-hospitality a,
      li.menu-convenience-store a,
      li.menu-cinema a,
      li.menu-wireless a,
      li.menu-restaurants a,
      li.menu-restaurant a, /* Sigh.. */
      li.menu-retail a{
        position:relative;padding-right:20px;
        &:hover:before{color:white;}
        &:before{
          display:inline-block;
          position: absolute;
          height:20px;
          width:20px;
          font-family:"FontAwesome";
          color:$blue;
          font-size:15px;
          right:3px;
          top:8px;
        }
      }
      li.menu-hospitality a:before{content: "\f0f8";}
      li.menu-convenience-store a:before{content: "\f0d1";}
      li.menu-cinema a:before{content: "\f03d";}
      li.menu-restaurants a:before,li.menu-restaurant a:before{content: "\f0f5";}
      li.menu-retail a:before{content: "\f07a";}
      li.menu-wireless a:before{
        content: "\f09e";
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        transform: rotate(-45deg);
      }
      
 
      
      ul{
        padding:10px;
        min-width:250px;
        border-top: 3px solid #ccc;
        background:#f8f8f8;
        li{
          border-top:1px dotted #ddd;
          text-align:left;
          &:first-child{border-top:0}
          a{
            padding:10px 15px;
            height:auto;
            
            &:hover{
              color:white;
              background:$blue;
            }
          }
        }
      }      
      
    }
    

    
    
    a.navbar-brand{
      text-indent:-9999px;
      background-color:$blue;
      color:white;
      position:relative;
      padding:15px 30px;
      &:hover{background-color:$blue;color:white;}
      background-image:url(../img/envysion-brand-white.png);
      background-size: 132px, 32px;
      background-position:center center;
      background-repeat:no-repeat;
      width: 202px;
      height:$navbarheight;
      
      @include image-2x("../img/envysion-brand-white@2x.png", 132px, 32px);
      
      @media( max-width:$md-width ){
        width:172px;
        padding:15px 15px;
      }
      
      $arrowwidth: 12px;
      &:after{
        position: absolute;
        content: "";
        width: $arrowwidth;
        height: $arrowwidth;
        background: $blue;
        margin-left:-10px;
        bottom: $arrowwidth * -.5;
        transform: rotate(0.125turn);
        -webkit-transform: rotate(45deg);
        left: 50%;
        z-index: 990;
      }
    }
    nav{text-align:center;}
    
    .navbar-collapse.in,.navbar-collapse.collapsing{
      background:white;
      padding-left: 0px;
      box-shadow: 0px 13px 20px rgba(0,0,0,.3);
      a{
        padding:10px 20px;
        height:auto!important;
        border-top:1px solid #f4f4f4;
        text-align:left;
      }
      ul.dropdown-menu{padding-top:0px!important;}
    }
    .navbar-nav{
      display:inline-block;
      width:auto;
      margin-left:30px;
      
      &>li{
        float:none;
        display:inline-block;
        &>a{
          padding:15px 20px;      
        }
      }
      &>li.gbb-client-login{
        height:$navbarheight;
        a{
          height:$navbarheight;
          line-height:$navbarheight / 2;
          font-size:12px;
        }
      }
      
      @media(max-width:$sm-width){
        display:block;
        margin-left:0;
        li{
          display:block;
          
        }
        &>li:hover{
          overflow:hidden!important;
        }
      }
    }
    
    .navbar-nav>li>a:hover{
      background-color:$gray10;
    }
    .navbar-nav>li.active>a{background:white;}
    .navbar-nav>li.active>a:hover{background:$gray10;}
  
    & .container{
      position:relative;
    }
    
    
    
  }
  
  #announcement_wrap{
    background: #f2f2f2;
    height: 60px;
    padding:20px 0;
    opacity: .8;
    display:none;
    box-shadow: inset 0px 4px 8px -3px #999;
    
    p{}
    
    .cta-btn{
      padding:5px 12px;
      margin-left:10px;
      margin-top:-5px;
      &.primary{background:$orange;}
      
      i{
        margin-right:2px;
      }
    }
  }
  
}
.main_subnav_wrap{
  background:#eee;
  height:$subnavheight;
  border-bottom:1px solid #c8c8c8;
}
.container.main_subnav{
  padding-top:1px;
  padding-left:65px;
  h3{
    color:$blue;
    display:inline-block;
    margin: 17px 20px 0 0;
    font-size:17px;
  }
  ul{
    margin:0;
    padding:0;
    list-style:none;
    display:inline;
    
    li{
      display:inline-block;
      margin:0 6px;
      &.current-menu-item a,
      &:hover a{
        background:white;
      }
      a{
        @include transition(.3s);
        display:inline-block;
        padding:6px 10px;
        border-radius:3px;
        font-size:13px;
        color:$orange;
        font-weight:700;
        &:hover{text-decoration:none;}
      }
    }
  }
}

.navbar-default{
  background:white;
}

/* ==========================================================================
   Hero Slider
   ========================================================================== */
.home_hero_slide{
  padding:30px 0 0 0;
  background-repeat: no-repeat;
  background-position-x:right;
  background-position-y:center!important;
  background-size: cover!important;
  background-attachment: fixed;

  .frosted {
    position: relative;
    margin-top: -30px;
    background-color: rgba(0, 0, 0, 0.15);
    height: 416px;
    overflow: hidden;
    padding-top: 30px;
    padding-left: 30px;
    background-position:top left;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100%;
    background-size: cover;
    background-position-x: left;
    background-position-y: center!important;
    width: 50%;
    background-size: 200%;
    content: "";
    overflow:hidden;
    filter: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E#blur");
    -webkit-filter: blur(10px);
    filter: blur(10px);
    
    
    @media (max-width:$sm-width){
      width: 100%;
    }
    
  }

  
  &:after{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width:50%;
    height:100%;
    content:"";
    /*background-color:rgba(255,255,255,.1);*/
    background-color:rgba(0,0,0,.2);
    
    @media (max-width:$sm-width){
      width: 100%;
    }    
  }

  .frosted .legacy-ie-fix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";
  }
  
  div.padding_right{
    padding-right:130px;
    
    @media (max-width: $md-width){
      padding-right:5px;
    }
  }
  
  h2{
    color: white;
    font-weight: 300;
    font-size: 55px;
    margin-bottom: 26px;
    margin-top: 20px;
    
    @media (max-width: $sm-width){
      font-size:44px;
    }
  }
  p{
    color: white;
    font-size: 15px;
    line-height: 28px;
  }
  
  .col-sm-6{
    @media (max-width:$sm-width){
      text-align:center;
      padding-right:15px!important;
      
      & + .col-sm-6{
        display:none;
      }
    }
  }
  
}

.carousel.fade {
  opacity: 1; }
  .carousel.fade .item {
    
    height: 416px; /* Slider height. Change for Responsive */
    
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    .carousel.fade .item:first-child {
      top: auto;
      position: relative; }
    .carousel.fade .item.active {
      -moz-transition: opacity ease-in-out .7s;
      -o-transition: opacity ease-in-out .7s;
      -webkit-transition: opacity ease-in-out .7s;
      transition: opacity ease-in-out .7s;
      z-index: 2;
      opacity: 1;
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
      
.indicators_wrap{
  margin-top: 410px;
  position: absolute;
  max-width: 1170px;
  
  @media (max-width: $md-width) and (min-width: $sm-width - 1){
      margin-top:370px;
  }
  
  @media (max-width: $sm-width){
    width: 100%;
    margin-top: 430px;
  }
}      
.carousel-indicators.home_hero_controls{
  left:0;
  width:100%;
  margin-left:0;
  text-align:left;
  font-size:0;
  bottom:25px;
  
  @media (max-width: $sm-width){
    width: 100%;
    text-align: center;
  }
  
  
  li{
    width:141px;
    height:80px;
    text-indent:0;
    border-radius:2px;
    padding:14px 0 0 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    background:rgba(255,255,255,.9);
    margin:0 1px;
    text-align:center;
    font-size:14px;
    color:$blue;
    line-height:20px;
    @include transition(.3s);
    vertical-align:top;
    border:none;
    
    @media (max-width: $md-width) and (min-width: $sm-width - 1){
      width:67px;
    }
    @media (max-width: $sm-width){
      width:23.5%;
    }
    
    &.active,&:hover{
      background:rgba(255,255,255,1);
    }
    i{
      font-size:30px;
      color:$blue;
      display:block;
      margin:0px auto 5px;
    }      
    &.watch{
      background:$blue;
      font-size:21px;
      color:white;
      width:auto;
      line-height:50px;
      padding-left:0px;
      padding-top:0px;
      
      &.no_icon{
        padding-right:15px;
      }
      a{
        color:white;
        display: inline-block;
         padding: 14px 13px 0 24px;
      }

      @media (max-width: $sm-width){
        width: 24%;
        padding:0;
        a{padding:14px 5px 0 5px;font-size:18px;}
      }
      
      i.fa-play-circle{
        display: inline-block;
        font-size: 96px;
        margin: -29px 0 0 0px;
        color: white;
        vertical-align: top;
        border-radius: 50%;
        padding: 6px;
        width: 107px;
        height: 107px;
        background: #36abff;
        @include transition(.3s);
        
        @media (max-width: $sm-width){
          display:none;
        }
      }
      i.fa-play-circle-o{
        font-size: 17px!important;
        color: white!important;
        display: none;
        margin: 0px auto 5px;
        
        @media (max-width: $sm-width){
          display: inline!important;
        }
      }
      &:hover{
        background: lighten($blue,10%);
        i.fa-play-circle{
          background: lighten($blue, 10%);
        }
      }
    }
    

  }
}


#home_diagram{
  text-align:left;
  position:relative;
  padding-bottom:55px;
  padding-top:35px;
  background: rgb(234,234,234);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(247,247,247,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(247,247,247,1)));
  background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(247,247,247,1) 100%);
  background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(247,247,247,1) 100%);
  background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(247,247,247,1) 100%);
  background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(247,247,247,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f7f7f7',GradientType=0 );


  
  .diagram_halves{
    display:inline-block;
    height:141px;
    line-height:141px;
    text-align:left;
  }

  h2{
    text-align:center;
    color:$blue;
    font-weight: 300;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    line-height: 40px;
    

  }
  .narrow_row{
    padding: 0 70px;
    
    @media (max-width:$sm-width){
      padding: 0 10px;
    }
  }
  .blurb{
    h3{
      font-weight: 700;
      text-transform:uppercase;
      letter-spacing: -.02em;
      font-size:21px;
    }
    p{
      font-size:13px;
      line-height: 23px;
    }
  }
}
/* ==========================================================================
   Home Ticker
   ========================================================================== */
.white_bg_w_arrows{
  background:white;
  
  &:before{
    content: "";
    height: 1px;
    width: 1px;
    border-width: 0 0 40px 40px;
    border-color: $gray9 transparent;
    border-style: solid;
    display: block;
    line-height: 0;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
    transform-origin: 20px 20px;
    -ms-transform-origin: 20px 20px;
    -webkit-transform-origin: 20px 20px;
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -22px;
  }
  &:after{
    content: "";
    height: 1px;
    width: 1px;
    border-width: 0 0 40px 40px;
    border-color: white transparent;
    border-style: solid;
    display: block;
    line-height: 0;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
    transform-origin: 20px 20px;
    -ms-transform-origin: 20px 20px;
    -webkit-transform-origin: 20px 20px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -22px;
  }  
}
.gray_bg_w_arrows{
  background:$gray9;
  
  &:before{
    content: "";
    height: 1px;
    width: 1px;
    border-width: 0 0 40px 40px;
    border-color: white transparent;
    border-style: solid;
    display: block;
    line-height: 0;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
    transform-origin: 20px 20px;
    -ms-transform-origin: 20px 20px;
    -webkit-transform-origin: 20px 20px;
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -22px;
  }
  &:after{
    content: "";
    height: 40px;
    width: 40px;
    border-width: 0 0 1px 1px;
    border-color: $orange;
    border-style: solid;
    display: block;
    line-height: 0;
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg); /* IE 9 */
    -webkit-transform:rotate(-45deg); /* Safari and Chrome */
    transform-origin: 20px 20px;
    -ms-transform-origin: 20px 20px;
    -webkit-transform-origin: 20px 20px;
    position: absolute;
    bottom: -21px;
    left: 50%;
    margin-left: -22px;
    background:$gray9;
  }
}

#home_industry_ticker{
  text-align:center;
  position:relative;
  
  .wrap{
    padding-top: 45px;
  }
  
  h2{color:$gray8;font-weight:300}
  
  #logo_ticker{
    overflow:hidden;
    width:100%;
    max-width:960px;
    margin:20px auto 55px;
    position:relative;
    
    .slidecontrol{
      position:absolute;
      top:17px;
      font-size:40px;
      color:$orange;
      text-decoration:none;
      
      &.prev{left:0}
      &.next{right:0}
      
    }
    .simply-scroll {
      width:100%;
      max-width:960px;
      height: 90px;
      padding:0 40px;
      margin-bottom: 1em;
      
      &:before{
        content: "";
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
        
        height: 90px;
        width: 20px;
        top: 0;
        left: 40px;
        display: block;
        position: absolute;
        z-index: 10;
      }
      
      &:after{
        content: "";
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
        
        height: 90px;
        width: 20px;
        top: 0;
        right: 40px;
        display: block;
        position: absolute;
        z-index: 10;        

      }
    }
    .simply-scroll-clip{
      width:100%;
      max-width:880px;
      height:90px;
    }
    .simply-scroll .simply-scroll-list li {
      float: left; /* Horizontal scroll only */
      width: 90px;
      height: 90px;
    }
    simply-scroll-btn {
      position: absolute;
      width: 42px;
      height: 44px;
      z-index:3;
      cursor: pointer;
    }
      
    .simply-scroll-btn-left {
      left: 0px;
      top:17px;
    }

    .simply-scroll-btn-right {
      right: 0px;
      top:17px;
    }
      
    ul#scroller_list{
      
      width:auto;
      list-style:none;
      margin:0;
      padding:0;
      
      li{
        display:inline-block;
        margin:0 11px;
      }
    }
  }
}

#home_verticals{
  text-align:center;
  position:relative;
  padding-bottom:60px;
  border-bottom:1px solid $orange;
  
  .wrap{
    padding-top: 45px;
  }
  
  .cta-btn{
    margin-top: 13px;
  }
  
  h2{color:$gray8;font-weight:300;width:80%;margin-left:auto;margin-right:auto;line-height:40px;}
}

.verticals{
    $vertwidth: 120px;
    text-align:center;
    display:inline-block;
    margin:5px 12px;
    width:$vertwidth + 13px;

    a:hover{text-decoration:none;}
    
    h3.verticalstitle{font-size:14px!important;font-weight:500!important;@include transition-duration(.3s);margin-bottom:10px!important;}
    i{
      @include transition-duration(.3s);
      font-size:58px;
      color:white;
      display:inline-block;
      width:$vertwidth;
      height:$vertwidth;
      line-height:$vertwidth;
      background: #333;
      border-radius: 50%;
      
      &.fa-truck{
        padding-right:5px;
      }
      &.fa-shopping-cart{
        padding-right:5px;
      }
    }
    &.large{
      $largevertwidth: 150px;
      width:$largevertwidth + 15px;
      i{
        font-size:110px;
        width:$largevertwidth;
        height:$largevertwidth;
        line-height:$largevertwidth;
      }
    }
    &.blue{
      h3{color:$blue!important}
      i{background:$blue}
      a:hover{
        i{background:darken($blue,15%);}
      }
    }
    &.green{
      h3{color:$green!important}
      i{background:$green}
      a:hover{
        i{background:darken($green,15%);}
      }
    }
    &.warmgray{
      h3{color:$warmgray!important}
      i{background:$warmgray}
      a:hover{
        i{background:darken($warmgray,15%);}
      }
    }
    &.magenta{
      h3{color:$magenta!important}
      i{background:$magenta}
      a:hover{
        i{background:darken($magenta,15%);}
      }
    }
    &.orange{
      h3{color:$orange!important}
      i{background:$orange}
      a:hover{
        i{background:darken($orange,4%);}
      }
    }
    &.teal{
      h3{color:#00a5ac!important}
      i{background:#00a5ac;}
      a:hover{
        i{background:darken(#00a5ac,10%);}
      }
    }
    i.fa-rss:before{
      -ms-transform: rotate(-45deg); /* IE 9 */
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      transform: rotate(-45deg);
      
      display: inline-block;
      -webkit-transform-origin: 38% 46%;
      -ms-transform-origin: 38% 46%;
      transform-origin: 38% 46%;
    }
    
    @media (min-width: $md-width) and (max-width: ($lg-width - 1)){
      margin: 5px 7px;
    }
    @media (min-width: $sm-width) and (max-width: ($md-width - 1)){
      margin: 5px 1px;
      width:110px;
      
      i{
        height:100px;
        width:100px;
        line-height:100px;
      }
    }
    
  }

/* ==========================================================================
   Page Elements
   ========================================================================== */
#main_wrap{
  background:white;
  img{
    max-width: 100%;
    height: auto;
  }
}
.contentblock{
  clear:both;
  ul.nav-tabs{
  margin-bottom:18px;
  margin-top:38px;
  border-bottom-width:2px;
    li{
      margin-bottom:-2px;
      font-weight:700;
      a{
        padding:8px 20px;
        border-radius: 1px 1px 0 0;
      }
      &.active>a{border-width:2px;}
    }
  }
}

/* Headshot Layout Stuff*/

.headshot_row{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  
  a.wistiathumb{display:inline-block;}
  iframe,a.wistiathumb{
    margin-top:15px;
  }
}
.headshot_row_img{
  span{
    position:relative;
    border-right:3px solid orange;
    display:inline-block;
    
    &:after{
      content: "";
      height: 0px;
      width: 0px;
      border-width: 8px;
      border-style:solid;
      border-color: transparent orange orange transparent;
      position: absolute;
      top: 21px;
      right: -10px;
      transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}
.page_hero{
  position:relative;
    
  .page_hero_content{
    text-shadow: 0 0 6px rgba(0,0,0,.6);
    
    &.col-xs-6{
      padding:40px 40px 50px 0;
    }
    &.col-lg-12{padding:40px 0 50px 0;}
    
    h1,h2,h3,h4,h5,h6{
      color:$blue;
    }
    h1{
      font-size:45px;
      @media (max-width: $sm-width){
        font-size:26px;
      }
    }
    p{
      margin:19px 10% 25px;
      color: #777;
      line-height: 24px;
      font-size:18px;
    }
  }
  &.bluebg:after{
    /*border-color: #6BA0FF transparent;*/
  }
  
}

.trapezoid{
	border-bottom: 30px solid white;
  height: 0;
  width: 50%;
  display: inline-block;
  margin-bottom: -5px;
  
  &.left{
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;  
  }
  &.right{
    border-right: 0px solid transparent;
    border-left: 30px solid transparent;
  }
}

.supporting_content{
  background: white;
  padding: 75px 0px;
  font-size:14px;
  line-height:25px;
  .col-lg-5{
    text-align:center;
  }
  h2{
    margin:5px 0 20px;
    font-size: 31px;
    line-height: 40px;
  }
  p{
    margin-bottom:30px;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }
  
  .cta-btn{
    margin:2px 12px 2px 0!important;
  }
  
  & + .supporting_content{
    box-shadow: inset 0px 50px 130px -70px #f5f5f5;
  }
  @media (max-width:$sm-width){
    .more_right_padding{padding-right:15px!important}
    .more_left_padding{padding-left:15px!important}
  }
}

img.polaroid{
  border: 8px white solid;
  box-shadow:0 0 12px #ccc;
}
.more_left_padding{
  padding-left:40px;
}
.more_right_padding{
  padding-right:40px;
}

.cta-btn{
  background:$warmgray;
  color:white;
  border:none;
  display:inline-block;
  text-align:left;
  padding: 10px 36px;
  border-radius: 3px;
  @include transition-duration(.3s);
  
  i{
    color:white;
    margin-right:12px;
  }
  &.primary{
    background:$blue;
    &:hover{background:darken($blue,10%)}
  }
  &.orange{
    background:$orange;
    &:hover{background:darken($orange,10%)}
  }
  
  &.medium{
    min-width:240px;
    padding:7px 15px;
    font-size:17px!important;
    font-weight:300;
    
    i{font-size:22px;vertical-align:middle}
  }
  &.small{
    min-width:75px;
    padding:3px 10px;
    font-size:14px!important;
    font-weight:300;
    
    i{font-size:12px;vertical-align:middle;margin-right:8px;}
  }  
  & + .cta-btn{margin-left:20px;}
  
  &:hover{
    background:darken($warmgray,10%);
    text-decoration:none;
    color:white;
  }
}



/* ==========================================================================
   Blog
   ========================================================================== */
.category_featured_col{
  padding-left:0px;
  .category_featured_col_inner{
    background:#f5f5f5;
    height:231px;
    padding-bottom: 15px;
    position: relative;
  }
  div.category_featured_tag{
    background: rgba(0,0,0,.7);
    color: white;
    padding: 3px 7px;
    font-size: 13px;
    position: relative;
    width:100%;
    height:31px;
    text-overflow:ellipsis;
  }
  .category_featured_link{
    font-weight: 900;
    line-height: 18px;
    display: inline-block;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    padding: 3px 6px 20px 9px;
  }
  .category_featured_img{
    max-width: 100%;
    height: auto;
  }
  .cf_read_more{
    background:$blue;
    color:white;
    position:absolute;
    bottom:0;
    right:0;
    display:inline-block;
    padding:2px 9px;
  }
}

.clamped-4{
  max-height: 72px;
  overflow: hidden;
  position: relative;
}
.fill{
  background: #f5f5f5; 
  height: 100%;
  position: absolute;
  width: 100%;
}
.ellipsis{
  background: #f5f5f5;
  bottom: 0;
  position: absolute;
  right: 0;
  padding: 0px 5px 0 0;
  line-height: 13px;
}

.entry_author_image{
  float:right;
  margin:0 0 10px 20px;
  img{
    border-radius:50%;
  }
}
.author_bio{
  background: #f7f7f7;
  border: 1px solid #eee;
  padding: 15px;
  margin:15px 0;
  .entry_author_image{float:left;margin:0 20px 10px 0;}
}
#blog_sidebar_wrapper{
  
  .widget{
    background:$gray9;
    padding:15px;
  }
  
  h3{font-size:15px;font-weight:700;margin-bottom:10px;}
  
  .widget_categories{
    ul{
      list-style:none;
      margin:10px 0;
      padding:0;
      line-height:15px;
      li{margin-bottom:13px;}
    }
  }
  .widget_search{
    .search-field{
      border-radius: 0px;
      box-shadow: none;
      background: #e3e3e3;
      border: none;
      padding: 20px;
      height:40px;
      box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
    }
    .search-submit{
      padding: 10px;
      border: none;
      background: #e3e3e3;
      border-radius: 0px;
      height:40px;
      box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
    }
  }
}
article{
  display: block;
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.blog_thumbnail_wrap{
  text-align:center;
  width:180px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.blog_thumbnail_img{
  max-width:100%;
  height:auto;
}
   
.textheader{
  background:#887777;
  padding:30px 0;
  .container .row{padding-left:20px;}
  h1{
    margin:0;
    line-height:35px;
    color:white;
    font-weight:100;
    font-size:35px;
  }
  h2{
    line-height:20px;
    color:white;
    font-size:18px;
    margin:0px 0 0;
  }
}
.featured_post_title{
  font-size:27px!important;
  font-weight:700!important;
  margin-bottom:8px!important;
}
img.recent_featured{
  /* margin-bottom:-60px; */

}
.recent_excerpt_box{
  background: white;
  /* margin-left: 90px; */
  margin-right:-1px;
  position: relative;
  padding: 1px 0 20px 20px;
}
.archive_excerpt p{
  margin-bottom:10px!important;
}
.postmeta{
  margin:5px 0 15px;
  color:$grayb;
  font-size:13px;
}

.share_buttons{
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 3px 14px;
  margin-right: 4px;
  color:$gray8;
  @include transition(.2s);
  &:hover{text-decoration:none;background:#f2f2f2}
  
  i{margin-right:3px;}
  
  &#share_facebook{
    border-color:#7287bb;
    color:#7287bb;
  }
  &#share_twitter{
    border-color:#00acee;
    color:#00acee;
  }
  &#share_email{}
  
}

.a2a_img.a2a_i_a2a{
  display:none;
}
.a2a_dd.addtoany_share_save{
  display: inline-block;
  background: $blue;
  background-image: none!important;
  position: relative;
  padding: 5px 17px 5px 40px;
  border-radius: 2px;
  color: white;
  
  &:before{
    content:"\f14d";
    font-family:"FontAwesome";
    color:white;
    position:absolute;
    top: 5px;
    left: 14px;
  }
}

div.postcta{
  background: #f8f8f8;
  border-left: 4px solid #36abff;
  padding: 20px 20px 20px 90px;
  font-size: 16px;
  position: relative;
  margin-bottom:20px;
  
  &:before{
    font-family:"FontAwesome";
    content:"";
    color:#ddd;
    font-size: 54px;
    top: 35px;
    left: 22px;
    position: absolute;
  }
  p{margin-bottom:8px!important;}
}

/* ==========================================================================
   Content
   ========================================================================== */

.content {
  margin-top:45px;
  padding-bottom:50px;
  line-height: 25px;
  .main{
  
    padding-right: 45px;
  
    h1,h2,h3,h4,h5,h6{
      font-weight:300;
      text-transform:none;
      color:$orange;
    }
    h1{
      margin:20px 0 26px;
      font-size:26px;
      color:$gray8;
      &.entry-title{font-size:35px}
    }
    h2{
      margin:20px 0 23px;
      font-size:23px;
    }
    h3{
      margin:15px 0 19px;
      font-size:20px;
      text-transform:none;
      line-height:28px;
    }
    h4{
      margin:15px 0 16px;
      font-size:18px;
      text-transform:none;
      line-height:28px;
    }
    h5{
      margin:10px 0 14px;
      font-size:16px;
      color:$warmgray;
      text-transform:none;
      line-height:22px;
    }
    h6{
      text-transform: uppercase;
      color: $warmgray;
      font-size: 14px;
      margin: 0 0 5px 0;
    }
    p{margin-bottom:25px;}
    ul,ol{margin-bottom:25px;}
    p + h2{margin-top:40px;}
    blockquote p{
      font-size:14.5px;
      line-height:1.5;
      font-style:italic;
    }
    .page-header{
      margin-bottom:30px;
      &:first-child{
        margin-top:20px;
      }
      h2{
        margin:20px 0 30px;
        font-size:32px;
        color:orange;
      }
      h1,h2{text-transform:uppercase;}
    }
    
  }
}

.content_block .nav-tabs{
  margin:10px 0 15px;
}
h2.resource_type{
  border-bottom: 3px solid #f4f4f4;
  padding-bottom: 14px;
  margin-top: 40px!important;
  margin-bottom: 15px!important;
}
.resource_row{
  margin: 15px 0 25px 0;
  padding-top: 17px;
  
  & + .resource_row{
    border-top: 1px dotted #f1f1f1;
  }
  
  .cta-btn.pull-right{
    margin-left:20px;
  }
  

}
.resource_title{
  font-size:17px;
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* Eloqua Form */

#leadform{
  
  input[type=text],select{padding:4px;}
  input[type=submit]{
    background:$blue;
    color: white;
    height: auto;
    border-radius: 2px;
    padding: 4px;
    border: none;
    height: auto!important;
  }
  div.field-wrapper{margin-bottom:9px;}
  
  h3{
    padding: 0 15px;
    margin: 10px 0 5px 0;
    color: $blue;
  }
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
  padding-right:4%;
  padding-top:20px;
  
  section{
    margin-bottom:25px;
    
    h3{
      margin-top:0px;
      margin-bottom:20px;
      font-size:19px;
    }
  }
  
  ul.menu{
    padding:0;
    list-style:none;
    
    li{
      font-size:15px;
      margin:4px 0;
      
      a{
        padding:9px 8px;
        color:$blue;
        border-radius:3px;
        display:block;
        background:#f6f6f6;
        @include transition(.3s);
        font-weight:700;
        &:hover{
          text-decoration:none;
          background:#e5e5e5;
          color:$blue;
          border-left:5px solid $blue;
          
          @include transition(.3s);
        }
      }
      
      &.active a{
        background:#e5e5e5;
        color:$blue;
        border-left:5px solid $blue;
      }
    }
  }
  
  .cta-btn{
    min-width:0;
  }
  
}



/* ==========================================================================
   Posts
   ========================================================================== */
.hentry .entry-title{margin-bottom:10px!important;}
.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

article .entry-content{
  ul,ol{
    margin-bottom:25px;
    li{
      margin-bottom:15px;
    }
  }
}

.bio_box_wrap {
  background: #f8f8f8;
  border: 1px solid #dddddd;
  clear: both;
  margin: 20px 0;
  overflow: hidden;
  padding: 20px;
}
.bio_box_pic {
  background: #fff;
  border: 1px solid #e7e7e7;
  float: left;
  height: 110px;
  width: 110px;
  margin: 0 -122px 0 0 !important;
  padding: 10px !important;
}
.bio_box_text {
  float: left;
  margin: 0 0 0 140px;
  
  p{
    margin-bottom:15px!important;
  }
}
.bio_box_contact_links i{
  font-size:28px;
  margin-right:5px;
}


/* ==========================================================================
   Footer
   ========================================================================== */
#footer-wrap{
  background: rgb(91,91,91);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1YjViNWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzgzNzM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgb(91,91,91) 0%, rgb(56,55,53) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(91,91,91)), color-stop(100%,rgb(56,55,53)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgb(91,91,91) 0%,rgb(56,55,53) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgb(91,91,91) 0%,rgb(56,55,53) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgb(91,91,91) 0%,rgb(56,55,53) 100%);
  background: radial-gradient(ellipse at center,  rgb(91,91,91) 0%,rgb(56,55,53) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#383735',GradientType=1 );
  
  padding:35px 0;
  
  font-family: $secondaryfont;

  .content-info {
    color:#ccc;
    font-size:12px;
    line-height:19px;
    
    h5{
      color:white;
      font-family:$secondaryfont;
      font-weight:500;
      border-bottom: 1px solid #777;
      padding-bottom: 11px;
    }
    
    a{
      color:$blue;
      &:hover{
        text-decoration:none;
        color:lighten($blue, 10%);
      }
    }
  }
  
  .social_icons{
    a{
      padding:4px;
      float:right;
      display:inline-block;
    }
    img{
      padding:2px 8px;
      opacity:.8;
      
      &:hover{
        opacity:1;
      }
    }
  }

}

ul.footer_nav{
  list-style:none;
  margin:0px 0;
  padding:0;
  font-family:$secondaryfont;
  
  li{
    padding:6px 0;
  }
}
.footer_brand{
  background-image:url(../img/envysion-brand-white.png);
  background-size: 132px, 32px;
  background-position:center center;
  background-repeat:no-repeat;
  width: 132px;
  height: 37px;
  display:block;
  
  @include image-2x("../img/envysion-brand-white@2x.png", 132px, 32px);
}

/*Overrides*/

.yarpp-thumbnail{
  border:none!important;
  margin: 5px 15px 5px 5px !important;
}
.yarpp-related{margin-top:45px;}
.yarpp-thumbnail-title{
  max-height:4em!important;
}
.yarpp-thumbnails-horizontal{
  margin-bottom:30px!important;
}
.wp-pagenavi a, .wp-pagenavi span{border-radius:2px;padding: 4px 8px!important;border-color:#e4e4e4!important;}
.wp-pagenavi a:hover, .wp-pagenavi span.current{
  border-color:$blue!important;
  
}
  
/* ==========================================================================
   Utility Classes
   ========================================================================== */
.more_bottom_margin{margin-bottom:20px;}
.padded{padding:20px;}
.inline{display:inline}
.block{display:block}
.relative{position:relative}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

.main img{
  &.alignleft{margin: 0 30px 20px 0;}
  &.alignright{margin: 0 0px 20px 30px;}
}


/* ==========================================================================
   Responsive Text Alignment
   ========================================================================== */

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}


@media (max-width: ($sm-width - 1)) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: $sm-width) and (max-width: ($md-width - 1)) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: $md-width) and (max-width: ($lg-width - 1)) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: $lg-width) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
#more-overlay-link,#client-login-mobile{
  display:none;
}
@media (max-width: $sm-width) {
  /*#home_diagram{
    text-align:center;
    .blurb{
      text-align:center;
    }
  }*/
  #more-overlay-link{display:block;}
  #client-login-mobile{display:block;}
  .more_link_li{display:none!important;}

}
@media (max-width: $md-width) {


}
@media (max-width: $lg-width) {
  .diagram_halves.arrow{
    display:none!important;
  }
}