/*!
 * Roots 6.5.0
 */

/* ==========================================================================
   Variables / Colors
   ========================================================================== */
   
$orange: orange;
$sm-width: 767px;
$md-width: 970px;
$lg-width: 1170px;

$navbarheight: 51px;
 
/* ==========================================================================
   Base
   ========================================================================== */

body {
  padding-top: $navbarheight;
  
  &.admin-bar {    
    .banner{
      margin-top:28px;
    }
  }
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner {
  height: $navbarheight;
}

.navbar-default{

}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: $sm-width) {

}
@media (max-width: $md-width) {

}
@media (max-width: $lg-width) {

}
