/*
 * Roots 6.5.0
 */
/* ==========================================================================
   Variables / Colors
   ========================================================================== */
/* ==========================================================================
   Base
   ========================================================================== */
/* line 20, ../sass/app.scss */
body {
  padding-top: 51px;
}
/* line 24, ../sass/app.scss */
body.admin-bar .banner {
  margin-top: 28px;
}

/* ==========================================================================
   Header
   ========================================================================== */
/* line 35, ../sass/app.scss */
.banner {
  height: 51px;
}

/* ==========================================================================
   Content
   ========================================================================== */
/* ==========================================================================
   Primary Content
   ========================================================================== */
/* Gallery Shortcode */
/* line 60, ../sass/app.scss */
.gallery-row {
  padding: 15px 0;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* ==========================================================================
   Posts
   ========================================================================== */
/* ==========================================================================
   Footer
   ========================================================================== */
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */
/* line 97, ../sass/app.scss */
.aligncenter {
  display: block;
  margin: 0 auto;
}

/* line 98, ../sass/app.scss */
.alignleft {
  float: left;
}

/* line 99, ../sass/app.scss */
.alignright {
  float: right;
}

/* line 100, ../sass/app.scss */
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
